.container {
  margin-top: 24px;
}
.card-deck {
  padding: 10px;
}
.card {
  display: table-cell;
  width: 160px;
}
.card-text,
.card-title {
  width: 130px;
  max-height: 22px;
  overflow: hidden;
}
.loader {
  position: fixed;
  top: 40%;
  left: 45%;
  width: 100px;
  height: 100px;
}
